Django==4.2.21
celery==5.5.2
crispy-bootstrap5==2025.4
django-braces==1.17.0
django-crispy-forms==2.4
django-encrypted-model-fields==0.6.5
django-localflavor==4.0
django-widget-tweaks==1.5.0
numpy==2.2.5
openai==1.6.1
openpyxl==3.1.5
pandas==2.2.3
Pillow==11.2.1
PyMySQL==1.1.1
pytesseract==0.3.10
python-dotenv==1.0.0
python-stdnum==2.0
requests==2.32.3
WeasyPrint==65.1
whitenoise==6.9.0
XlsxWriter==3.1.9
